{% extends "layout.html" %}

{% block content %}
<nav class="row">
    <ul>
        {% if user.is_superuser %}
        <li class="col-md-1"><a href="#/users/">Users</a></li>
        {% endif %}
        <li class="col-md-1"><a href="#/reviews/">Reviews</a></li>
    </ul>
</nav>
<div ng-view>
	</div>
{% endblock %}