<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{MEDIA_URL}}style/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}style/style.css"/>

</head>

<body ng-app="criticQueueApp">
<div class="container">
	  {% if user.is_authenticated  %}
    <div class="row">
        <div class="col-md-1 col-md-offset-11">
            <a href="/accounts/logout/">Logout</a>
        </div>
    </div>
	  {% endif %}
    <div class="row">
        <div class="col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{{MEDIA_URL}}libs/angular/angular.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}libs/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}libs/angular-route/angular-route.js"></script>
<script>var ME = "{{user.username}}"</script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/app.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/ctrls/MainCtrl.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/ctrls/ReviewsCtrl.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}scripts/ctrls/UsersCtrl.js"></script>
</body>
</html>