{% extends "layout.html" %}
{% load url from future %}

{% block content %}
{% if form.errors %}
<div class="row">
    <div class="col-md-12">
        <p>Your username and password didn't match. Please try again.</p>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="login"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
</div>
{% endblock %}