<div class="row" ng-show="errors">
	<div class="col-md-12 error">
		Error:	{{errors}}
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<form class="createReview" ng-submit="createReview()" name="addReview">
			<input type="url"
						 value=""
						 name="reviewLink"
						 placeholder="Review Link e.g. https://critic.oslo.osa/r/43667"
						 ng-model="review.newReview.link"
						 required="true"
					/>
			  <span class="error" ng-show="addReview.reviewLink.$error.required">
      Review Link is required
				</span>
			 <span class="error" ng-show="addReview.reviewLink.$error.url">
      Review Link must by valid url
			 </span>
			<button type="submit">Create Review</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Unassigned</h3>
		<table class="unassigned">
			<thead>
			<tr>
				<th>Review URL</th>
				<th>Date Created</th>
				<th>Assigned</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="review in review.reviews | filter:{assigned:null}">
				<td>{{review.url}}</td>
				<td>{{review.created}}</td>
				<td>
					{{review.assigned.username}}
					<button ng-click="assignToMe(review.id);">Assign to me</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Assigned to me</h3>
		<table class="assigned-to-me">
			<thead>
			<tr>
				<th>Review URL</th>
				<th>Date Created</th>
				<th>Assigned</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="review in review.reviews | filter:{finished:false} | property:'assigned.username':me ">
				<td>{{review.url}}</td>
				<td>{{review.created}}</td>
				<td>
					{{review.assigned.username}}
					<button ng-click="done(review.id);">Done Review</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Assigned to other</h3>
		<table class="assigned-to-other">
			<thead>
			<tr>
				<th>Review URL</th>
				<th>Date Created</th>
				<th>Assigned</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="review in review.reviews | filter:{finished:false} | property:'assigned.username':me:true ">

				<td>{{review.url}}</td>
				<td>{{review.created}}</td>
				<td>
					{{review.assigned.username}}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Finished</h3>
		<table class="assigned-to-other">
			<thead>
			<tr>
				<th>Review URL</th>
				<th>Date Created</th>
				<th>Assigned</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="review in review.reviews | filter:{finished:true}">

				<td>{{review.url}}</td>
				<td>{{review.created}}</td>
				<td>
					{{review.assigned.username}}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

