<div class="modal-header">
	<h3 class="modal-title">Edit User</h3>
</div>
<form name="createuser" ng-submit="submit(createuser);">
<div class="modal-body">

	<ul>
		<li>
			<label>Username <input type="text" name="username" ng-model="user.username" placeholder="username" required/></label>
			<div class="error" ng-show="createuser.username.$error.required">
				Field required!</div>
		</li>
		<li>
			<label>Password <input type="password" name="password" ng-model="user.password" required /></label>
			<div class="error" ng-show="createuser.password.$error.required">
				Field required!</div>
		</li>
		<li>
			<label>Repeat password <input type="password" name="confirm_password" ng-model="user.password_verify" data-password-verify="user.password" required /></label>
			<div class="error" ng-show="createuser.confirm_password.$error.required">
				Field required! {{createuser.confirm_password.$error.required}}</div>
			<div class="error" ng-show="createuser.confirm_password.$error.passwordVerify">
				Fields are not equal!</div>
		</li>
		<li>
			<label>First name <input type="text" ng-model="user.first_name" placeholder="Write first name"/></label>

		</li>
		<li>
			<label>Last name <input type="text" ng-model="user.last_name" placeholder="Write last name"/></label>
		</li>
		<li>
			<label>Email <input type="email" name="email" ng-model="user.email" placeholder="Write email" required/></label>
			<div class="error" ng-show="createuser.email.$error.required">
				Field required!</div>

			<div class="error" ng-show="createuser.email.$error.email">
				Email must be valid email address required!</div>
		</li>

	</ul>

</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" type="submit">OK</button>
</div>
</form>