<div class="modal-header">
	<h3 class="modal-title">Edit User</h3>
</div>
<form name="edituser" ng-submit="submit(edituser);">
	<div class="modal-body">
		<ul>
			<li>
				<label>Username {{user.username}}</li>
			<li>
				<label>First name <input type="text" ng-model="user.first_name" placeholder="Write first name"/></label></li>
			<li>
				<label>Last name <input type="text" ng-model="user.last_name" placeholder="Write last name"/></label></li>
			<li>
				<label>Email <input type="email" name="email" ng-model="user.email" placeholder="Write email" required/></label>

				<div class="error" ng-show="edituser.email.$error.required">
					Field required!
				</div>

				<div class="error" ng-show="edituser.email.$error.email">
					Email must be valid email address required!
				</div>

		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit">OK</button>
	</div>
</form>