<div class="row" ng-show="errors">
	<div class="col-md-12 error">
	Error:	{{errors}}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button ng-click="create()">Create</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table>
			<thead>
			<tr>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Role</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in user.users">
				<td>{{user.username}}</td>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.admin? "admin" : "team member"}}</td>
				<td>
					<button ng-click="delete($index);">Delete</button>
					<button ng-click="edit($index);">Edit</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
