.loading {
	-webkit-animation: changing 5s;
}
@-webkit-keyframes changing {
	0% {
		opacity: 1;
	}
	5% {
		opacity: .3;
	}
	10% {
		opacity: 1;
	}
	20% {
		opacity: 0.3;
	}
	30% {
		opacity: 1;
	}
	40% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	60% {
		opacity: 0.3;
	}
	70% {
		opacity: 1;
	}
	80% {
		opacity: 0.3;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
table {
	width:100%;
}
table td {
	width:33%;
}
nav {
	height:50px;

}
nav ul {
	list-style-type:none;
}
.createReview input {
	width:500px;
}
.error {
	color:red;
}